@page
@model IndexModel
@{
    ViewData["Title"] = "Home page v.18";
}

<div class="text-center">
    <h1 class="display-4">Welcome Georgi Dolapchiev</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
